html, body {
  height: 100%;
}
.not-correct{
  color: red;
}

.correct{
  color: blue;
}

#main {
  height: 90vh;    
}

.link line {
  stroke: #999;
  /* stroke-opacity: 0.6; */
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link line.separator {
  stroke: #fff;
  stroke-width: 5px;
}

.link line.separator2 {
  stroke: #fff;
  stroke-width: 2px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}
